<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <title>COMMNET</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="user">
        <input type="text" v-model="comment">
        <button @click="save">저장</button><br>
        <ul>
            <li v-for="msg in messages">
                <p>{{ msg.user}} : {{msg.comment}}</p>
            </li>
        </ul>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./comment_commonent.js"></script>
</body>
</html>